extends layout

block content
    h2.page-header Change password
    p Please register using the form below
    if errors
        each error, i in errors
            div.alert.alert-danger #{error.msg}
    form(method='post', action=`/users/profile/password`)
        .form-group
            label LastPassword
            input.form-control(name='lastPassword', type='password', placeholder='Enter your lastPassword')
        .form-group
            label NewPassword
            input.form-control(name='newPassword', type='password', placeholder='Enter newPassword')
        .form-group
            label RepeatNewPassword
            input.form-control(name='repeatPassword', type='password', placeholder='Enter repeatNewPassword')

        input.btn.btn-primary(type='submit', name='submit', value='Change password')